name: ci
on:
  workflow_call:

permissions:
  contents: read
  packages: write

jobs:
  build_push:
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.meta.outputs.image }}
      tag: ${{ steps.meta.outputs.tag }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Compute Image Metadata
        id: meta
        run: |
          IMAGE="ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}"
          SHORT_SHA="${GITHUB_SHA::7}"
          echo "image=$IMAGE" >> "GITHUB_OUTPUT"
          echo "tag=sha-$SHORT_SHA" >> "GITHUB_OUTPUT"
          echo "IMAGE=$IMAGE" >> "GITHUB_ENV"
          echo "TAG=sha-$SHORT_SHA" >> "GITHUB_ENV"

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE }}:${{ env.TAG }}
            ${{ env.IMAGE }}:latest
